<ul class="nav navbar-nav collapse navbar-collapse">
    <li><a ws-is-active-route asp-controller="Home" asp-action="Index">Домой</a></li>
    <li class="dropdown">
        <a ws-is-active-route ws-ignore-action asp-controller="Catalog" asp-action="Shop">Магазин<i class="fa fa-angle-down"></i></a>
        <ul role="menu" class="sub-menu">
            <li><a ws-is-active-route asp-controller="Catalog" asp-action="Shop">Каталог</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a ws-is-active-route asp-controller="Home" asp-action="Blogs">Блоги<i class="fa fa-angle-down"></i></a>
        <ul role="menu" class="sub-menu">
            <li><a ws-is-active-route asp-controller="Home" asp-action="Blogs">Блоги покупателей</a></li>
            <li><a ws-is-active-route asp-controller="Home" asp-action="Blogs">Блог магазина</a></li>
        </ul>
    </li>
    <li><a ws-is-active-route asp-controller="Home" asp-action="ContactUs">Контакты</a></li>
    <li><a ws-is-active-route asp-controller="Employees" asp-action="Index">Сотрудники</a></li>
    <li><a ws-is-active-route asp-controller="WebAPI" asp-action="Index">WebAPI</a></li>
    <li><a ws-is-active-route asp-controller="Home" asp-action="Error404">404</a></li>
</ul>